extends layouts/main

block content
	.container
		h5 Adicionar Foto ao Site
		hr
		form.form-group(action="/subirfoto",method="POST",enctype="multipart/form-data")
			<?= csrf_field() ?>

			.form-group
				label.custom-file
					input.custom-file-input#arquivo_foto(type="file",name="arquivo_foto")
					span.custom-file-control

			.form-group
				label(for="nome") Nome
				input.form-control#nome(type="text",name="nome",placeholder="Nome")

			.form-group
				label(for="descricao") Descrição
				p.lead.emoji-picker-container
					textarea.form-control#descricao(data-emojiable="true",name="bio",rows="3",placeholder="Descrição")

			button.btn.btn-default(type="submit") Enviar foto